ul#slider{
	@include transition(none);
	margin:0px;
	padding:0px;
	list-style: none;
	@include perspective(1000);
	transform-style: preserve-3d;
	@include backface-visibility(hidden);
	.text-content{
		padding-top: 3em;
	}
}
.slider.left, .slider.right{
	margin-top: .25em;
	margin-bottom: .25em;
	padding-top: 4em;
	padding-bottom: 4em;
	text-align: center;
	background: green;
	color: white;
	cursor: pointer;

}
@media only screen and (min-width: 40.063em) {
	.face.active{
		// @include rotateY(0deg, 1000);
		visibility: visible;
	}
	.face{
		position: absolute;
		top:0;
		left:0;
		@include backface-visibility(hidden);
	}
	li.face{
		@include clearfix;
		img{
			max-width: 100%;
		}
	}
}