#slider{
	@include transition(none);
	margin:0px;
	padding:0px;
	list-style: none;
	.text-content{
		::selection{
			background: darken($background-color,10%);
			background: lighten($blue,30%);
		}
	}
	.face{
		margin-top: 1.5em;
		padding: .43em 0em;
		background-color: darken($blue,10%);
		@include clearfix;
	}
}
.slider-container{
	::selection{
		background: none;
	}
	.face{
		h1{
			font-weight: bold;
		}
	}	
	.left, .right{
		margin-top: 25%;
		padding-top: 4em;
		padding-bottom: 4em;
		text-align: center;
		background: darken($blue, 20%);
		color: white;
		cursor: pointer;

	}
	.left{
		img{
			@include rotateY(180deg, 1000);
		}
		@include translateX(-.5em);
		&:hover{
			@include translateX(-1em);
			background: darken($blue, 15%);
		}
	}
	.right{
		@include translateX(.5em);
		&:hover{
			@include translateX(1em);
			background: darken($blue, 15%);
		}
	}
}


@media only screen and (min-width: 40.063em) {
	.face{
		position: absolute;
		top: -10px;
		left: -10px;
		opacity: 0;
		z-index: -1;
	}
	.face.active{
		position: relative;
		// @include rotateY(0deg, 1000);
		// // display: block;
		top: 0px;
		left: 0px;
		opacity: 1;
		z-index: 2;

	}
	li.face{
		@include clearfix;
	}
}