
$body-font-family: "Proxima-Nova","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$headline-font-family: "Proxima-Nova" ,"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$byline-margin: 1em;

body{
	font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6{
	font-family: $headline-font-family;
}

#main-title{
	text-align: center;
	.mortarboard-banner{
		top:0px;
		left:0px;
		width:100%;
	}
	h1.title{
		@include transition(none);
		margin: 0px;
		font-weight: bold;
		margin-bottom: .4em;
	}
	.spacer{
		min-height: 1em;
	}
	h3.byline{
		margin: 0px;
		font-style: italic;
		margin-top: $byline-margin;
		margin-bottom: $byline-margin*.3;
		// border-top: 1px black solid;
		// border-bottom: 1px black solid;
	}
}
.content{
	margin-top: $byline-margin*.4;
	text-align: justify;

	.intro{
		font-style: italic;
		&::first-letter{
			background-image: url(/assets/img/diamond.svg);
			float:left;
			color: white;
			text-align: center;
			padding: 0px;
			margin:0px;
			font-style: normal;
			font-weight: bold;
			font-size: 3em;
			line-height: 1.5em;
			height: 1.5em;
			width: 1.5em;
		}
	}
}
