$body-font-family: "ff-tisa-web-pro" ,"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$headline-font-family: "kepler-std" ,"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$byline-margin: 1em;

body{
	font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6{
	font-family: $headline-font-family;
}

.main-title{
	text-align: center;
	h1.title{
		margin: 0px;
		// font-size: 4em;
		margin-bottom: .4em;
	}
	h3.byline{
		margin: 0px;
		font-style: italic;
		margin-top: $byline-margin;
		margin-bottom: $byline-margin*.3;
		border-top: 1px black solid;
		border-bottom: 1px black solid;
	}
}
.content{
	margin-top: $byline-margin*.4;
	text-align: justify;

	.intro{
		font-style: italic;
		&::first-letter{
			// width: 1em;
			// margin-right: .1em;
			// padding: 0em .1em;
			// font-size: 3em;
			// line-height: 1em;
			// float:left;
			
			float:left;
			padding: 0px;
			margin:0px;
			padding-right: .1em;
			font-size: 3.7em;
			line-height: .77em;
		}
	}
}
